
.video-zone{
    position: absolute;
    width: 565px;
    height: 344px;
    left: 123px;
    top: 15px;
}
video{
    position: absolute;
    width: 276px;
    height: 167px;
    
    background: rgba(156, 171, 194, 0.35);
    opacity: 0.4;
    border: 2px solid rgba(156, 171, 194, 0.35);
    box-sizing: border-box;
}

video:nth-child(2) {
    right: 0px;
}

video:nth-child(3) {
    bottom: 0px;
}

video:nth-child(4) {
    right: 0px;
    bottom: 0px;
}

