<html>

<head>
    <script src="/node_modules/@remotemonster/sdk/remon.min.js"></script>
    <script src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script>

    <script>
        var caster;
        window.onload = async () => {
            const config = {
                credential: {
                    serviceId: '4892bc68-6ab2-439b-bc94-a9d64cb4db64',
                    key: '734497fae0f60d8909b59556511b7206c241b310cb31daac84007a79d1ab7d7e'
                },
                media: {
                    video: true,
                    audio: false,
                },
                view: {
                    local: '#localVideo'
                }
            }
            var remonRoom = [];
            const listener = {
                onCreate(channelId) {
                    myChannelId = channelId;
                    console.log(myChannelId);
                },
                onComplete() {
                    remonRoom[caster.getChannelId()] = true;
                },
                onRoomEvent(result) {
                    console.log(result.channel.id);
                    let id = result.channel.id;
                    switch (result.event) {
                        case 'join':
                            var p = document.createElement("video");
                            p.id = id.split(':')[1];
                            p.autoplay = true;
                            p.muted = true;
                            config.view.remote = '#' + p.id;
                            p.remon = new Remon({ config });
                            document.getElementsByClassName("video-zone")[0].append(p);
                            p.remon.joinCast(id);
                            break;
                        case 'leave':
                            let video = document.getElementById(id.split(':')[1]);
                            if (video) document.getElementsByClassName("video-zone")[0].removeChild(video);
                            break;
                    }
                },
                onMessage(message) {
                    console.log(message);
                }

            }
            caster = new Remon({ config, listener })
            await caster.createCast();
            var viewers = {};
            await caster.createRoom("a{{roomNumber}}");
            var searchResult = await caster.fetchRooms("a{{roomNumber}}");
            setTimeout(() => {
                searchResult.forEach(async ({ id }, i) => {
                    console.log(id + ', ' + i);
                    var p = document.createElement("video");
                    p.id = id.split(':')[1];
                    p.autoplay = true;
                    p.muted = true;
                    config.view.remote = '#' + p.id;
                    p.remon = new Remon({ config });
                    document.getElementsByClassName("video-zone")[0].append(p);
                    await p.remon.joinCast(id);
                })
            }, 1000);
            var socket = io();

            var messages = document.getElementById('chat-messages');
            var form = document.getElementById('chat-form');
            var input = document.getElementById('chat-input');

            form.addEventListener('submit', function (e) {
                e.preventDefault();

                if (input.value) {
                    socket.emit('chat message', "{{roomNumber}}:-:{{id}} : " + input.value);
                    console.log(input.value);
                    input.value = '';
                }
            });
            socket.on('chat message', function (msg) {
                var rn = msg.substr(0, msg.indexOf(":-:"));
                var nrn = "{{roomNumber}}";
                if (rn != nrn) {
                    console.log("www");
                    return;
                }
                var realmsg = msg.substr(msg.indexOf(":-:") + 3, msg.length);
                var item = document.createElement('li');
                item.textContent = realmsg;
                messages.appendChild(item);
                window.scrollTo(0, document.body.scrollHeight);
            });
        }
    </script>
    <style>
        video {
            width: 160;
            height: 120;
            background-color: #DDDDDD;
        }
    </style>
</head>

<body>
    <ul id="chat-messages"></ul>
    <form id="chat-form" action="">
        <input id="chat-input" autocomplete="off" /><button>Send</button>
    </form>
    <section class="video-zone">
        <video id="localVideo" autoplay muted></video>
    </section>
</body>

</html>