<html>

<head>
    <script src="node_modules/@remotemonster/sdk/remon.min.js"></script>
    <script>
        window.onload = async () => {
            const config = {
                credential: {
                    serviceId: '4892bc68-6ab2-439b-bc94-a9d64cb4db64',
                    key: '734497fae0f60d8909b59556511b7206c241b310cb31daac84007a79d1ab7d7e'
                },
                media: {
                    // video: false,
                    audio: false,
                },
                view: {
                    local: '#localVideo'
                }
            }
            var remonRoom = [];
            var caster;
            const listener = {
                onCreate(channelId) {
                    myChannelId = channelId;
                    console.log(myChannelId);
                },
                onComplete() {
                    console.log(`re\n\n\n\n\n\n\n\n\n\n\n\nmon.listener.onComplete: ${caster.getChannelId()} `);
                    remonRoom[caster.getChannelId()] = true;
                },
            }
            caster = new Remon({ config, listener })
            caster.createCast();
            setTimeout(async () => {
                var viewers = {};
                await caster.createRoom("aaaaaa");
                var searchResult = await caster.fetchRooms("aaaaaa");

                searchResult.forEach(async ({ id }, i) => {
                    console.log(id + ', ' + i);
                    console.log("in");
                    var p = document.createElement("video");
                    p.id = id.replace(":", "-");
                    p.autoplay = true;
                    p.muted = true;
                    config.view.remote = '#' + p.id;
                    p.remon = new Remon({ config });
                    document.getElementsByClassName("video-zone")[0].append(p);
                    await p.remon.joinCast(id);
                })
            }, 1000);
        }
    </script>
</head>

<body>
    <section class="video-zone">
        <video id="localVideo" autoplay muted></video>
    </section>
</body>

</html>